@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'riffic';
    src: url('/static/fonts/RifficFree-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  