{# blog_preview.jinja #}

<a href="{{ post.url }}" class="block">
  <div
    class="max-w-md mx-auto rounded-xl shadow-md overflow-hidden md:max-w-2xl bg-white hover:bg-header_green transition ease-in-out duration-300">
    <div class="p-8">
      <h2 class="block mt-1 text-lg leading-tight font-medium text-black">{{ post.title }}</h2>

      <div class="text-sm">
        <p class="mt-2 text-gray-600">Last updated: {{ post.updated_on }}</p>
      </div>

      <div>{{ post.preview | safe }}</div>
    </div>
  </div>
</a>