{# contact.html #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.site_name }} : Contact</title>
    <!-- Include Tailwind CSS -->
    <link href="{{ url_for('static', path='/css/tailwind.css') }}" rel="stylesheet">

    <!-- Load reCAPTCHA JavaScript API -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='/site.webmanifest') }}">
</head>

<body class="flex flex-col h-screen">
    <!-- Header -->
    {% include 'header.jinja' %}

    <!-- Main Content -->
    <main>
        <div class="text-center py-20">
            <div class="w-full md:w-1/2 lg:w-1/3 mx-auto rounded-xl shadow-md bg-white p-6 border-2">
                <h3 class="text-header_green_hover text-3xl font-riffic mb-4">
                    Contact Me
                </h3>
                <p class="text-gray-600 text-lg font-riffic mb-8">
                    If you have any suggestions or questions, please feel free to contact me.
                </p>
                <form id="contact-form" method="post" hx-post="{{ url }}" hx-target="#response-output"
                    hx-trigger="submit">
                    <div class="mb-4">
                        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name</label>
                        <input name="name" type="text" required placeholder="Your name...."
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <div class="mb-4">
                        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                        <input name="email" type="email" required placeholder="Your email....."
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <div class="mb-2">
                        <label for="message" class="block text-gray-700 text-sm font-bold mb-2">Message</label>
                        <textarea name="message" required id="message" cols="30" rows="10"
                            placeholder="Your message....."
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"></textarea>
                    </div>

                    <div class="mb-4">
                        <div id="warning-message"
                            class="hidden p-4 mb-4 text-sm font-bold text-red-700 bg-red-100 rounded-lg" role="alert">
                        </div>
                    </div>

                    <button
                        class="g-recaptcha bg-header_green_hover hover:bg-header_green text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        data-sitekey="{{ config.recaptcha_site_key }}" data-callback='onSubmit'
                        data-action='submit'>Submit</button>
                    <div id="response-output"></div>
                </form>


            </div>
        </div>
    </main>

    <!-- Footer -->
    {% include 'footer.jinja' %}

    <script>
        function onSubmit(token) {
            var email = document.querySelector('input[name="email"]').value;
            var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Simple email regex pattern

            var warningDiv = document.getElementById('warning-message');
            if (!emailPattern.test(email)) {
                event.preventDefault();
                warningDiv.innerHTML = 'Please enter a valid email address.';
                warningDiv.classList.remove('hidden');
                return;
            } else {
                warningDiv.classList.add('hidden');
            }

            var name = document.querySelector('input[name="name"]').value;
            var message = document.querySelector('textarea[name="message"]').value;

            var warningDiv = document.getElementById('warning-message');
            if (!name || !message) {
                event.preventDefault();
                warningDiv.innerHTML = 'Please fill in all required fields.';
                warningDiv.classList.remove('hidden');
                return;
            } else {
                warningDiv.classList.add('hidden');
            }

            var tokenInput = document.createElement('input');
            tokenInput.type = 'hidden';
            tokenInput.name = 'recaptcha_response';
            tokenInput.value = token;
            document.getElementById('contact-form').appendChild(tokenInput);

            // Directly submit the form
            document.getElementById('contact-form').submit();
        }

        {# document.getElementById('contact-form').addEventListener('submit', function (event) {
            
        }); #}

    </script>


</body>

</html>