{# header.html #}

<header class="bg-white shadow">
    <nav class="container mx-auto px-6 py-3 flex justify-between items-center">
        <img src="/static/images/logo.png" alt="{{ config.site_name }}" class="w-16 h-16">
        <a href="/" class="font-semibold text-xl tracking-tight text-gray-800">{{ config.site_name }}</a>
        <div class="lg:block font-riffic">
            <ul class="inline-flex items-center">
                <li><a href="#features" class="px-4 py-2 text-header_green hover:text-header_green_hover">Features</a></li>
                <li><a href="#pricing" class="px-4 py-2 text-header_green hover:text-header_green_hover">Pricing</a></li>
                <li><a href="#blog" class="px-4 py-2 text-header_green hover:text-header_green_hover">Blog</a></li>
                <li><a href="#about" class="px-4 py-2 text-header_green hover:text-header_green_hover">About</a></li>
                <li><a href="#contact" class="px-4 py-2 text-header_green hover:text-header_green_hover">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>