{# header.html #}

<header class="bg-white shadow">
    <nav class="flex items-center justify-between py-2 px-6">
        <!-- Logo and site name (1st column) -->
        <div class="flex items-center justify-start w-1/3">
            <a href="/" class="flex items-center">
                <img src="/static/images/logo.png" alt="{{ config.site_name }}" class="h-12" />
                <span class="font-semibold text-xl tracking-tight text-header_green hover:text-header_green_hover font-riffic">{{ config.site_name }}</span>
            </a>
        </div>

        <!-- Centered navigation list (2nd column) -->
        <div class="flex justify-center items-center w-1/3">
            <ul class="flex justify-center items-center font-riffic text-xl">
                <li><a href="{{ site_map.blog_posts }}" class="px-4 py-2 text-header_green hover:text-header_green_hover">Blog</a></li>
                <li><a href="{{ site_map.about }}" class="px-4 py-2 text-header_green hover:text-header_green_hover">About</a></li>
                <li><a href="{{ site_map.contact }}" class="px-4 py-2 text-header_green hover:text-header_green_hover">Contact</a></li>
            </ul>
        </div>

        <!-- Empty spacer (3rd column) -->
        <div class="w-1/3">
            <!-- This div acts as a spacer with the same width as the logo and site name column -->
        </div>
    </nav>
</header>

