{# home.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.site_name }} : Home</title>
    <!-- Include Tailwind CSS -->
    <link href="{{ url_for('static', path='/css/tailwind.css') }}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='/site.webmanifest') }}">
</head>
<body class="flex flex-col h-screen">
    <!-- Header -->
    {% include 'header.jinja' %}

    <!-- Main Content -->
    <main class="container mx-auto px-6">
        <!-- Blog Posts -->
        {% set blogs_title = 'Latest Blog Posts'%}
        {% include 'blogs.jinja' %}

        <!-- View More Button -->
        <div class="text-center">
            <a href="{{ site_map.blog_posts }}">
                <button class="bg-header_green hover:bg-header_green_hover text-white font-bold py-2 px-4 rounded">
                    View More Blog Posts
                </button>
            </a>
        </div>
    </main>

    <!-- Footer -->
    {% include 'footer.jinja' %}
</body>
</html>
